/* Miranda Creative copyright @ April 23, 2018 - All rights reserved */
/* Page Header */

.page-header:before{
    background: none;
}
#front-page-heading{
    font-size: 2em;
}
header.site-header{
    background-color: #232c39;
}
/* Front Page Widgets */
div.front-page-4.widget-area {
    /* this does not work - we need to remove the dark filter look on the image and set a min height for the image
    see style.css like 2920 where the background color is commented out but makes no difference */
    min-height: 300px;
    background: none;
}
